<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Inicio</title>
  </head>
  <body>
    <h1>¿Quienes somos?</h1>
    <br>
    <h2> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus augue et velit fringilla malesuada. Sed bibendum leo tortor, non aliquet ipsum ullamcorper quis. Donec tempor convallis urna, vitae malesuada est pulvinar et. Suspendisse orci neque, dignissim eu libero sit amet, vestibulum aliquam lacus. Integer consequat semper auctor. Duis euismod sit amet nisi ac tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus varius justo turpis, eget consectetur mauris porttitor ac. Curabitur eget dolor nunc. Vivamus erat sapien, condimentum a pretium ut, interdum sed nibh. Suspendisse sed luctus massa, vitae consectetur massa. Mauris ultricies erat vel iaculis feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </h2>
    <h4 class="text-danger">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus augue et velit fringilla malesuada. Sed bibendum leo tortor, non aliquet ipsum ullamcorper quis. Donec tempor convallis urna, vitae malesuada est pulvinar et. Suspendisse orci neque, dignissim eu libero sit amet, vestibulum aliquam lacus. Integer consequat semper auctor. Duis euismod sit amet nisi ac tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus varius justo turpis, eget consectetur mauris porttitor ac. Curabitur eget dolor nunc. Vivamus erat sapien, condimentum a pretium ut, interdum sed nibh. Suspendisse sed luctus massa, vitae consectetur massa. Mauris ultricies erat vel iaculis feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </h4>
    <br>

    <div style="text-align:center">
      <h2>
          Número de ciudades donde damos nuestros servicios (JSON local):
      </h2>
      <ul *ngFor="let item of countryList">
         <li>
            [{{item.code}}]{{item.name}}
         </li>
      </ul>
      <h2>
        Número de personajes que hemos creado (JSON en servidor ajeno):
    </h2>
    <ul *ngFor="let item of lista_personajes">
       <li>
         Campeón: {{item.id}}, llamado {{item.name}}, {{item.title}}
       </li>
    </ul>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>